*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  color:#333;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}
body{
  height: 100%;
  line-height: 1.1em;
}
a {
  text-decoration: none;
  color: #333;
}
ul{
  list-style: none;
}
h1, h2{
  font-weight: 100px;
  line-height: 1.2;
  margin: 10px 0;
}
p{
  margin: 10px 0;
}
img{
  width: 100%;
}
#main-header{
  background-color: #047aed;
  color: #fff;
  height: 80px;
}
.cabecera{
  max-width: 1100px;
  height: auto 0;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}
.logo{
  width: 7%;
}
.cabecera ul{
  display: flex;
  justify-content: space-between;
}
