*{
  margin:0;
  padding:0;
}

body{
  font-family: 'Nunito', sans-serif;
  background-color:#0a192f;
  color:white;
}


#cumtenedor{
  display:grid;
  margin: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:  calc(10vh) calc(5vh);
  grid-column-gap: 7px;
  grid-row-gap: 7px;
}

#cumtenedor .titulogrosso{
  grid-column: 1/5;
  grid-row: 1/2;
  text-align: center;
  color: black;
  font-size: 16px;
  position: relative;
  border: 2px solid white;
  background-image: url("../img/efosas.jpeg");
}


p {
  font-size: 20px;
  text-align: center;
  margin: 0px;
  text-decoration: none;
  color: #fff;
}
p a{
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: inline-block;
}
.button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;

}
h2 {
  font-size: 10px;
  text-align: left;
  margin:10px;
  text-decoration: none;
  color: #fff;
}
h1 a{
  color: #fff;
  font-size: 22px;
  text-decoration: none;
}
#cumtenedor .navegacion1{
  grid-column: 1/2;
  grid-row: 2/3;
  text-align: center;
  font-size: 16px;
  position: relative;

}

#cumtenedor .navegacion2{
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  font-size: 16px;
  position: relative;

}

#cumtenedor .navegacion3{
  grid-column: 3/4;
  grid-row: 2/3;
  text-align: center;
  font-size: 16px;
  position: relative;

}

#cumtenedor .navegacion4{
  grid-column: 4/5;
  grid-row: 2/3;
  text-align: center;
  font-size: 16px;
  position: relative;
}
.dropbtn {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  text-align: left;
  position: absolute;
  background-color: none;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ffa500}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: none;
}




.cum-cum::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s
}
.cum-cum:hover::after{
  width: 100%;
  transition: width .3s
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #black;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  border-radius: 22px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}
.flip-card-back {
  background-size: 300px;
  background-image: url("../img/spch.png");
  color: white;
  transform: rotateY(180deg);
}







.flip-card0 {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #black;
}
.flip-card-inner0 {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card0:hover .flip-card-inner0 {
  transform: rotateY(180deg);
}
.flip-card-front0, .flip-card-back0 {
  border-radius: 22px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front0 {
  background-color: #bbb;
  color: black;
}
.flip-card-back0 {
  background-size: 300px;
  background-image: url("../img/efosa.png");
  color: white;
  transform: rotateY(180deg);
}









#cumcumtenedor{
  display:grid;
  margin: 100px;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
  grid-template-rows:  calc(30vh) calc(30vh) calc(30vh) calc(30vh);
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  grid-gap: 20px;
  padding: 20px;
  margin-top: 150px;
  mar
}

#cumcumtenedor .entrevista1 img{
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}
#cumcumtenedor .entrevista2 img{
  grid-column: 2/3;
  grid-row: 1/2;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}

#cumcumtenedor .entrevista3 img{
  grid-column: 3/4;
  grid-row: 1/2;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}
#cumcumtenedor .entrevista4 img{
  grid-column: 4/5;
  grid-row: 1/2;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}
#cumcumtenedor .entrevista5 img{
  grid-column: 5/6;
  grid-row: 1/2;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 30px;
}
























#cumtenedor .cabecera{
  grid-column: 1/2;
  grid-row: 1/2;
}
#cumtenedor .cabecera0{
  grid-column: 2/3;
  grid-row: 1/2;
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  justify-content: space-around;
}
#cumtenedor .cabecera2{
  grid-column: 3/5;
  grid-row: 1/2;
  text-decoration: none;
  font-size: 12px;
  color: #fff;
  text-align: center;
}
.logo{
  width: 30%;
}
